@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* Starry Background */

#starry-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}

h1 {
  color: #fff;
}

h2 {
  color: #fff;
}

body {
  overflow-x: hidden;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.2);
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #242424;
  cursor: pointer;
}

/* LANDING & NAV */

#landing {
  position: relative;
  height: 40vh;
}

.landing__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 40vh;
  width: 100vw;
  background-image: url("/assets/Dune_1984_Overlay.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.85;
}
.navbar {
  padding: 0 20px;
  height: 80px;
}

.nav__links {
  margin-bottom: 12px;
  gap: 32px;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.nav__link {
  color: #fff;
  margin-right: 12px;
  font-size: 24px;
  display: flex;
  align-items: center;
  transition: all 300ms ease;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 8px 12px;
  border-radius: 24px;
}

.nav__link--primary {
  color: #fff;
  border: 2px solid #fff;
  padding: 8px 12px;
  border-radius: 24px;
  font-size: 24px;
  font-weight: 600;
  transition: all 300ms ease;
}

.nav__link--primary:hover {
  background-color: #fff;
  color: #242424;
  transition: all 300ms ease;
}

.nav__link--primary:active {
  transform: scale(0.95);
}

.nav__link:hover {
  border-color: #fff;
}

.nav__link:active {
  transform: scale(0.95);
  color: #242424;
  background-color: #fff;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav__logo--img {
  display: flex;
  height: 120px;
  width: 160px;
  opacity: .85;
}

header {
  height: calc(40vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 36px;
}

.header__description {
  display: flex;
  flex-direction: column;
}

.header__title {
  margin-bottom: 24px;
  color: #fff;
}

.search__input--wrapper {
  width: 100%;
  max-width: 440px;
  position: relative;
  overflow: hidden;
  display: flex;
}

.search__input {
  position: relative;
  width: 100%;
  padding: 16px;
  border-radius: 24px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 300ms ease;
}

.searchForm {
  width: 100%;
}

.submit {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 28px;
  cursor: pointer;
  transition: all 300ms ease;
  background: none;
  border: none;
}

.search__logo:hover {
  color: rgb(147, 76, 240);
  transition: all 300ms ease;
}

.search__input:focus {
  border-color: #242424;
  transition: all 300ms ease;
  outline: none;
}

.search-info {
  font-size: 40px;
}

/* SEARCH RESULTS SECTION */

#search__results {
  min-height: 40vh;
}

.error-message {
  font-size: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 96px;
  font-weight: 700;
}

.filter__content--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.duration__filter--wrapper {
  display: flex;
  flex-direction: column;
}

.filter-parameter {
  margin: 20px 0;
}

.input__slider {
  cursor: pointer;
}

.input__slider--text {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-top: 12px;
}

.films {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 24px 24px;
  opacity: 1;
  transform: translateY(0px);
  transition: all 500ms ease;
  margin-top: 72px;
}

.films__hide {
  opacity: 0;
  transform: translateY(20px);
  transition: all 500ms ease;
}

.film .show {
  opacity: 1;
  transform: translateY(0px);
}

.film {
  width: 25%;
  padding: 24px;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 500ms ease;
}

.film__img {
  cursor: not-allowed;
  transition: all 300ms ease;
  overflow: hidden;
  width: 100%;
}

.film__img:hover {
  transform: scale(1.04);
}

.film__img--wrapper {
  margin-bottom: 12px;
}

.film__title {
  font-size: 36px;
  font-weight: bold;
  cursor: not-allowed;
  color: #fff;
}

.film__year {
  display: flex;
  align-items: center;
  color: #fff;
}

.film__year--logo {
  height: 28px;
  margin-right: 12px;
}

.film__year--number {
  font-size: 20px;
}

.films__loading {
  display: none;
  font-size: 120px;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  width: 100%;
}

.films__loading--show {
  display: flex;
}

.media__type--wrapper {
  display: flex;
  align-items: center;
}

.media__type {
  font-size: 20px;
  color: #fff;
}

.media__type--logo {
  height: 28px;
  width: 28px;
  margin-right: 12px;
}

.film__rating--wrapper {
  display: flex;
  align-items: center;
  color: #fff;
}

.film__rating--logo {
  height: 28px;
  width: 28px;
  margin-right: 12px;
}

.film__rating--number {
  font-size: 18px;
}

.film__duration {
  display: flex;
  align-items: center;
  color: #fff
}

.film__duration--logo {
  height: 28px;
  width: 28px;
  margin-right: 12px;
}

.film__duration--number {
  font-size: 18px;
}

.media__type--logo img,
.film__rating--logo img,
.film__duration--logo img {
  width: 100%;
}
